name: STM32H750-ART-Pi

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  # Runs at 16:00 UTC (BeiJing 00:00) on the 1st of every month
  schedule:
    - cron:  '0 16 1 * *'
  push:
    branches:
      - master
    paths-ignore:
      - documentation/**
      - '**/README.md'
      - '**/README_ZH.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - documentation/**
      - '**/README.md'
      - '**/README_ZH.md'

env:
  RTT_TOOL_CHAIN: "sourcery-arm"

jobs:
  check:
    runs-on: ubuntu-latest
    name: check-yaml-format
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8

      - name: Check yaml
        if: ${{ success() }}
        shell: bash
        run: |
          pip install rt-thread-studio
          python -c "from rt_thread_studio import bsp_checker;bsp_path = '.';checker = bsp_checker.BspChecker(bsp_path);checker.check();"
      
  compile:
    needs: [check]
    runs-on: ubuntu-latest
    name: ${{ matrix.legs.RTT_BSP }}
    strategy:
      fail-fast: false
      matrix:
       legs:
         - {RTT_BSP: "art_pi_blink_led"}
         - {RTT_BSP: "art_pi_bootloader"}
         - {RTT_BSP: "art_pi_factory"}
         - {RTT_BSP: "art_pi_gc0328c_camera"}
         - {RTT_BSP: "art_pi_net_player"}
         - {RTT_BSP: "art_pi_sensor485_app"}
         - {RTT_BSP: "art_pi_wifi"}
         - {RTT_BSP: "industry_io_gateway"}
         - {RTT_BSP: "lrs007_lora_radio"}
         - {RTT_BSP: "lrs007_lorawan_end_device"}
         - {RTT_BSP: "art_pi_qboot"}
         - {RTT_BSP: "art_pi_kboot"}
         - {RTT_BSP: "art_pi_nes"}
         - {RTT_BSP: "art_pi_ble_mesh_gateway"}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
    
      - name: Install Arm ToolChains
        if: ${{ success() }}
        shell: bash
        run: |
          wget -q https://github.com/RT-Thread/toolchains-ci/releases/download/arm-2017q2-v6/gcc-arm-none-eabi-6-2017-q2-update-linux.tar.bz2 
          sudo tar xjf gcc-arm-none-eabi-6-2017-q2-update-linux.tar.bz2 -C /opt  
          /opt/gcc-arm-none-eabi-6-2017-q2-update/bin/arm-none-eabi-gcc --version
          echo "RTT_EXEC_PATH=/opt/gcc-arm-none-eabi-6-2017-q2-update/bin" >> $GITHUB_ENV

      - name: Install Tools
        if: ${{ success() }}
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get -qq install gcc-multilib libsdl-dev scons
          echo "RTT_ROOT=${{ github.workspace }}" >> $GITHUB_ENV
          echo "RTT_CC=gcc" >> $GITHUB_ENV

      - name: Compile ${{ matrix.legs.RTT_BSP }}
        if: ${{ success() }}
        shell: bash
        env:
          RTT_BSP: ${{ matrix.legs.RTT_BSP }}
        run: |
          cd projects
          scons -C $RTT_BSP
